{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'Semantic-UI/semantic.css' %}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 

    <title>3GPP Docs Online</title>
    
		<style>
			* {
					font-family: 'Work Sans', sans-serif;
				}

      
		
		</style>

  </head>
	
  <body>
		
		{% block home-page %}
		{% endblock %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="{% static 'Semantic-UI/semantic.js' %}"></script>
    
    </script>



  </body>

</html>
