{% extends "./base.html" %}
{% load static %}

{% block home-page %}

<div class="ui padded grid">
    <div class="four wide column" style="overflow: scroll">
        <table class="ui very basic selectable very compact table">
            <thead><tr><th colspan="2">SA2 Meetings</th></tr></thead>
            <tbody>
                {% for meeting in sa2meetings %}
                    {% if meeting_no == meeting.name %}
                    <tr class="active">
                    {% else %}
                    <tr>
                    {% endif %}
                    <td>
                        <a href="/meetings/?meeting_no={{meeting.name}}">
                        {{meeting.name}}
                        </a>
                    </td>
                    <td>
                        <a href="/meetings/?meeting_no={{meeting.name}}">
                        {{meeting.time}}, {{meeting.city}}
                        </a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <div class="twelve wide column">
        {% block tdoc-list %}
        {% endblock %}
        {{ form_error }}
    </div>
</div>

{% endblock %}