{% extends "./base.html" %}
{% load static %}

{% block home-page %}

<div class="ui padded grid">
    <div class="four wide column" style="overflow: scroll">
        <table class="ui very basic selectable very compact table">
            <thead><tr><th colspan="2">SA2 Meetings</th></tr></thead>
            <tbody>
                {% for meeting in sa2meetings %}
                    {% if meeting_no == meeting.name %}
                    <tr class="active">
                    {% else %}
                    <tr>
                    {% endif %}
                    <td>
                        <a href="/meetings/?meeting_no={{meeting.name}}">
                        {{meeting.name}}
                        </a>
                    </td>
                    <td>
                        <a href="/meetings/?meeting_no={{meeting.name}}">
                        {{meeting.time}}, {{meeting.city}}
                        </a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <div class="twelve wide column">
        {% block tdoc-list %}
        {% endblock %}
        <div class="ui message">
            <p>You need Chrome browser and <h ref="https://chrome.google.com/webstore/detail/docs-online-viewer/gmpljdlgcdkljlppaekciacdmdlhfeon?hl=en">"Docs Online Viewer"</h> plug-in to use this site.</p>
            <p>Click on the target 3GPP meeting on the left to display the TDoc List. Wait patiently for a few seconds for 
                the <img width="20" src="http://dov.parishod.com/assets/images/beside-link-icon.svg"></img> icon to show beside
                 each TDoc number. Clik the icon to view the document online in another tab.</p>
            <p>You can also use the combination of the TDoc filters on the top to narrow the displayed list.</p>
        </div>
    </div>
</div>

{% endblock %}