{% extends "./homepage.html" %}
{% load static %}

{% block tdoc-list %}

<form class="ui form" method="POST">
    {% csrf_token %}
    <div class="four fields">
        <div class="two wide field">
            {{tdoc_filter.tdoc_source}}
        </div>
        <div class="two wide field">
            {{tdoc_filter.tdoc_type}}
        </div>
        <div class="four wide field">
            {{tdoc_filter.tdoc_agendaitem}}
        </div>
        <div class="two wide field">
            {{tdoc_filter.tdoc_status}}
        </div>
    </div>
</form>

<table class="ui very basic selectable very compact small table">
    <thead><tr>
        <th class="two wide">TDoc#</th>
        <th class="six wide">Title</th>
        <th class="two wide">Source</th>
        <th class="one wide">Type</th>
        <th class="two wide">Agenda Item</th>
        <th class="two wide">Revised To</th>
        <th class="one wide">Status</th>
    </tr></thead>
    <tbody>
        {% for tdoc in tdoc_list %}
            {% if tdoc.status == 'agreed' or tdoc.status == 'approved' %}
            <tr bgcolor="#00ff00">
            {% else %}
            <tr>
            {% endif %}
                {% if tdoc.exist %}
                    <td><a href={{tdoc.link}}>{{tdoc.number}}</a></td>
                {% else %}
                    <td>{{tdoc.number}}</td>
                {% endif %}
                
                <td>{{tdoc.title}}</td>
                <td>{{tdoc.source}}</td>
                <td>{{tdoc.type}}</td>
                <td>{{tdoc.agenda_item}} -- {{tdoc.ai_description}}</td>
                <td>{{tdoc.revised_to}}</td>
                <td>{{tdoc.status}}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}